body{
    background: linear-gradient(to right,rgb(196, 196, 255),rgb(202, 202, 250),rgb(154, 154, 254));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    
}
.login_navigator{
    display: flex;
    flex-direction: row;
    width:350px;
    justify-content:space-between;
    margin-top:2px;


}

.login_navigator a{
    color: white;
    background-color: #2008a7b0;
    text-align: center;

    width:180px;
    height:5vh;
    padding:8px;
    box-sizing: border-box;   
    border-radius:8px;
    text-decoration: none;

    font-size: 14px;
}
.wrapper{
   
    color: white;
    background-color: #2008a7b0;
    border-radius: 10px;  
    text-align: center;

    width:350px;
    min-height:50vh;
    height:auto;
    padding:30px;
    box-sizing: border-box;
    border:2px solid #2008a7;
    /* opacity: .9; */

   
}
.wrapper img{
    width:70px;
    height:70px;
    border-radius: 50px;
    margin-bottom:15px;
    
    
}
.wrapper .inp_field{
    width:100%;
    text-align: left;
    margin-bottom:25px;

}

.wrapper input{
    width:100%;
    height:4.5vh;
    border-radius: 10px;
    border : 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition : border-color 0.3s,box-shadow 0.3s;


}

.wrapper input:focus{
   outline:none;
   
   box-shadow: 0px 8px 5px rgba(31, 31, 31, 0.454);
   border-color:rgb(198, 255, 189);


}



